In [19]:
from bs4 import BeautifulSoup
import requests 
import pandas as pd

In [20]:
columns=['Movie_ID','Title','Director','Cast','Year','Genre']
df = pd.DataFrame(columns=columns)
df

Empty DataFrame
Columns: [Movie_ID, Title, Director, Cast, Year, Genre]
Index: []

In [21]:
URL = {
       1991:'https://en.wikipedia.org/wiki/List_of_Bangladeshi_films_of_1991'
      }
id = 1917
for key, url in URL.items():
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')
    tbl = soup.findAll('table', {'class':"wikitable"})
    for t in tbl:
        table=t.tbody
        rows = table.find_all('tr')
        for i in range(1, len(rows)):
            tds = rows[i].find_all('td')
            if len(tds)==6:
                values = [id, tds[0].text.replace('\n',''), tds[1].text.replace('\n',''), tds[2].text.replace('\n',''), key, tds[3].text.replace('\n','')]
            id+=1
            df = df.append(pd.Series(values, index=columns), ignore_index=True)

df.shape

(9, 6)

In [22]:
df = df.apply(lambda x : x.lower().strip() if isinstance(x, str) else x)
df.iloc[df.loc[df['Title'] == 'Chadni'].index,3] = "Shabnaz, Nayeem, Sadek Bachchu"
df.iloc[df.loc[df['Title'] == 'Chadni'].index,5] = "Romance"
df.iloc[df.loc[df['Title'] == 'Shantona'].index,2] = "Kazi Morshed"
df.drop(8, axis=0, inplace=True)
df.to_csv('1991 bangladeshi movie list.csv', index=False)
df.shape

(8, 6)