In [1]:
from bs4 import BeautifulSoup
import requests 
import pandas as pd

In [2]:
columns=['Movie_ID','Title','Director','Cast','Year','Genre']
df = pd.DataFrame(columns=columns)
df

Empty DataFrame
Columns: [Movie_ID, Title, Director, Cast, Year, Genre]
Index: []

In [ ]:
URL = {
       2000:'https://en.wikipedia.org/wiki/List_of_Bangladeshi_films_of_2000'
      }
id = 1917
for key, url in URL.items():
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')
    tbl = soup.findAll('table', {'class':"wikitable sortable"})
    for t in tbl:
        table=t.tbody
        rows = table.find_all('tr')
        for i in range(1, len(rows)):
            tds = rows[i].find_all('td')
            if len(tds)==7:
                    values = [id, tds[1].text.replace('\n',''),tds[2].text.replace('\n',''),tds[3].text.replace('\n',''), key, tds[4].text.replace('\n','')]
                    # for k in range(7):
                    #     if k!=6:
                    #         print(tds[k].text.replace('\n',''),end="*")
                    #     else:
                    #         print(tds[k].text.replace('\n',''))

            id+=1
            df = df.append(pd.Series(values, index=columns), ignore_index=True)

In [13]:
df = df.apply(lambda x : x.lower().strip() if isinstance(x, str) else x)
df.to_csv('2000 bangla movie list.csv', index=False)
df.shape

(3, 6)